table {
    border-collapse: collapse;

    &.json-array {
        border-collapse: separate;
    }
}

th {
    background-color: #eee;
}

td {
    padding: 4px 6px;
}

.json-object {
    border: 1px solid #666;
    background-color: white;
}

.json-array {
    background-color: white;
}

.json-empty-array {
    font-style: italic;
    color: white;
}

.json-object-array {
    border: 1px solid #88f;
    border-collapse: separate;
    background-color: white;
}

.json-array-array {
    border: 1px solid #88f;
    border-collapse: separate;
    background-color: white;
}

.json-literal {
    display: inline-block;
}

.json-literal-array > .json-literal {
    border: #999 1px solid;
    margin-right: 10px;
    padding: 4px 10px;
    border-radius: 15px;
}

.index-col {
    font-size: small;
    font-weight: bold;
}

.row {
    &.odd {
        background-color: #eee;
    }

    &.even {
        background-color: #fcd;
    }
}

.depth1 > * > .row, .depth1 > .row {
    &.odd {
        background-color: #ccc;
    }
    &.even {
        background-color: #dab;
    }
}

.depth2 > * > .row, .depth2 > .row {
    &.odd {
        background-color: #aaa;
    }
    &.even {
        background-color: #c9a;
    }
}

.depth3 > * > .row, .depth3 > .row {
    &.odd {
        background-color: #999;
    }
    &.even {
        background-color: #b89;
    }
}

.prop-name {
    padding-right: 2px;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
    &::after {
        content: " :";
    }
}

.prop-value {
    vertical-align: middle;
}

